<div class="paginated-table">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.client.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issue_date">
      <mat-header-cell *matHeaderCellDef>Issue date</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.issueDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="check_date">
      <mat-header-cell *matHeaderCellDef>Check date</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.checkDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inspector">
      <mat-header-cell *matHeaderCellDef>Inspector</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.inspector | userFullName}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openInvoiceDetail(row.id)"
             [ngClass]="{'mat-row--issued': row.status === invoiceStatus.ISSUED, 'mat-row--checked': row.status === invoiceStatus.CHECKED}">
    </mat-row>
  </mat-table>

  <button mat-fab color="accent" matTooltip="Add new note" class="add-fab-btn" (click)="openInvoiceDetail()" [@flyInFromBottom]="'in'" *ngIf="roleGuard.isOwner() || roleGuard.isDispatcher()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-paginator class="paginator"
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10, 20]"
                 (page)="pageEvent = loadInvoices($event)">
  </mat-paginator>
</div>
