@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
<<<<<<< HEAD
@import '~primeng/resources/primeng.min.css';
=======

body
  font-family: 'Roboto','Helvetica','Arial',sans-serif
  font-weight: 400
  line-height: 20px
>>>>>>> 2779a581ca7999a816d6c9605d20e4eab9a989f1
