@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

@import '~primeng/resources/primeng.min.css';

body
  font-family: 'Roboto','Helvetica','Arial',sans-serif
  font-weight: 400
  line-height: 20px
