<div class="paginated-table">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>CarName</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>Car Number</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Car Type</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="consumption">
      <mat-header-cell *matHeaderCellDef>Car consumption</mat-header-cell>
      <mat-cell *matCellDef="let car">{{car.consumption}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>



  <mat-paginator class="paginator"
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[3, 5]"
                 (page)="pageEvent = loadCars($event)">
  </mat-paginator>
</div>
