.mat-card
  width: 700px
  //max-height: 500px

.mat-card--no-margin
  padding: 0

/deep/ .card-body
  max-height: 400px
  overflow: auto

@media all and (min-width: 408px)
  /deep/ .mat-tab-label
    flex: 30%

.card-actions
  height: 42px
  padding: 0 12px
  display: flex
  justify-content: flex-end
  align-items: flex-start

  button
    margin: 0 12px

/deep/ .mat-dialog-container
  padding: 0
