<div class="paginated-table">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.client}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issue_date">
      <mat-header-cell *matHeaderCellDef>Issue date</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.issueDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="check_date">
      <mat-header-cell *matHeaderCellDef>Check date</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.checkDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inspector">
      <mat-header-cell *matHeaderCellDef>Inspector</mat-header-cell>
      <mat-cell *matCellDef="let invoice">{{invoice.inspector}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openInvoiceDetail(row.id)"></mat-row>
  </mat-table>

  <button mat-fab color="accent" class="add-fab-btn" (click)="openInvoiceDetail()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-paginator class="paginator"
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[3, 5]"
                 (page)="pageEvent = loadInvoices($event)">
  </mat-paginator>
</div>
