$background-color--gray: #f7f7f7

mat-table
  margin-bottom: 56px

mat-row:hover
  background-color: $background-color--gray
  transition-duration: .28s
  transition-timing-function: cubic-bezier(.4,0,.2,1)
  transition-property: background-color
  cursor: pointer

mat-paginator
  position: fixed
  bottom: 0
  right: 24px
