<form [formGroup]="iForm">
<div class="container">
  <div>
    <mat-form-field floatPlaceholder="never">
      <input matInput formControlName="name" type="text" placeholder="Name">
    </mat-form-field>
  </div> 
  <div>
    <mat-form-field floatPlaceholder="never">
      <input matInput formControlName="country" type="text" placeholder="Country">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatPlaceholder="never">
      <input matInput formControlName="city" type="text" placeholder="City">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatPlaceholder="never">
      <input matInput formControlName="street" type="text" placeholder="Street">
    </mat-form-field>
  </div> 
  <div>
    <mat-form-field floatPlaceholder="never">
      <input matInput formControlName="house" type="text" placeholder="House">
    </mat-form-field>
  </div>
</div>
</form>
