<div class="container" [class.is-mobile]="matches">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z6" [@flyInFromTop]="'in'">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">
      <span>{{title}}<span class="title-separator" *ngIf="subtitle">&#x2500;</span>{{subtitle}}</span>
    </h1>
    <span class="toolbar-spacer"></span>
    <span class="logged-in-message" *ngIf="showHiMsg">{{hiMessage()}}</span>
    <button mat-icon-button matTooltip="Search" (click)="openCloseSearch()" *ngIf="path === 'invoices' || path === 'waybills'">
      <mat-icon>search</mat-icon>
    </button>
    <app-search-bar [path]="path" *ngIf="isSearchOpen" [@slideOut]></app-search-bar>
    <button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item (click)="openTemplate()" *ngIf="templateAvailability()">Template</button>
      <a type="button" mat-menu-item href="http://localhost:8983/" *ngIf="roleGuard.isSysAdmin() || roleGuard.isAdmin()">Solr Admin</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="matches ? 56 : 0">
    <mat-sidenav #snav [mode]="matches ? 'over' : 'side'" [fixedInViewport]="matches" fixedTopGap="56" [opened]="!matches" [@flyInFromLeft]="'in'">
      <mat-nav-list>
        <a mat-list-item [routerLink]="link.path" *ngFor="let link of navLinks" routerLinkActive="active" [class.disabled]="!link.availability">
          <span class="nav-item">{{link.label}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
