<div class="dialog-box">

  <div class="card-header">
    <div class="header-sidebar-left">
      <mat-icon mat-card-avatar class="card-header-icon">perm_contact_calendar
      </mat-icon>
    </div>
    <div class="header-middle">
      <span *ngIf="!client.id">New </span>
      Client
      <div class="header-subtitle" *ngIf="client.id">
        №{{client.id}}
      </div>
    </div>
    
    <div class="header-sidebar-right">
      <button mat-icon-button matTooltip="Delete" (click)="deleteClient()" [mat-dialog-close]>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Close" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
    <div mat-dialog-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Client name" [(ngModel)]="data.client.name" name="name">
        </mat-form-field>
      </form>  
    </div>  
    <div mat-dialog-actions>
        <button mat-button color="primary" type="submit" (click)="cancelClientDetail()">CANCEL</button>
        <button mat-button color="primary" [mat-dialog-close]="data">APPLY</button>
    </div>
</div>