<div class="card-body">
  <div class="card-header">
    <div class="header-sidebar-left">
      <mat-icon mat-card-avatar class="card-header-icon" svgIcon="routes"></mat-icon>
    </div>

    <div class="header-middle">
      <div class="header-title">
        <span *ngIf="!waybill.id">New </span>
        Waybill
      </div>
      <div class="header-subtitle" *ngIf="waybill.id">
        №{{waybill.id}} {{waybill.status}}
      </div>
    </div>

    <div class="header-sidebar-right">
      <button mat-icon-button matTooltip="Edit waybill" (click)="toggleEdit()" *ngIf="!edit && editAvailability">
        <mat-icon>edit</mat-icon>
      </button>
      <!--<button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item (click)="deleteWaybill()">Delete waybill</button>
      </mat-menu>-->
      <button mat-icon-button matTooltip="Close" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-content>
    <form id="wForm" [formGroup]="wForm" (ngSubmit)="wForm.valid && submit()">
      <div class="row">
        <div class="col-1">
          <mat-icon class="label-icon">person_outline</mat-icon>
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-select formControlName="driver" placeholder="Driver" [compareWith]="compareUser" required>
              <mat-option *ngFor="let driver of drivers" [value]="driver">{{driver | userFullName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <mat-icon class="label-icon">local_shipping</mat-icon>
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-select formControlName="car" placeholder="Car" [compareWith]="compareCar" required>
              <mat-option *ngFor="let car of cars" [value]="car">{{car.name}} {{car.number}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          Departure point:
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-select formControlName="from" [compareWith]="compareWarehouse" required>
              <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                <span>{{warehouse.name}}</span> |
                <small>{{warehouse | warehouseFullAddress}}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="wForm.controls['waybillCheckpoints'].length">
        <div class="col-1">
          Checkpoints:
        </div>
        <div class="col-2">
          <table formArrayName="waybillCheckpoints" class="checkpoint-table">
            <tbody>
            <tr *ngFor="let waybillCheckpoint of waybillCheckpoints.controls; index as i" [formGroupName]="i" [@shrinkIn]="'in'">
              <td>
                <mat-checkbox color="primary" formControlName="checked"></mat-checkbox>
              </td>

              <td>
                <mat-form-field floatPlaceholder="never">
                  <input matInput type="text" placeholder="Checkpoint" formControlName="checkpoint" [matAutocomplete]="auto" [readonly]="!(roleGuard.isOwner() || roleGuard.isManager())">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCheckpointFn">
                    <mat-option *ngFor="let checkpoint of filteredCheckpoints" [value]="checkpoint">
                      <span class="checkpoint-option-name">{{checkpoint.name}}</span> |
                      <small class="checkpoint-option-addition">{{checkpoint.addition}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>

              <td class="col-date">
                <div *ngIf="waybillCheckpoint.controls['checked'].value">
                  {{getCheckDate(i)}}
                </div>
              </td>

              <td class="checkpoint-btn-row">
                <div *ngIf="editAvailability && (roleGuard.isOwner() || roleGuard.isManager())">
                  <button class="remove-btn" mat-icon-button (click)="deleteCheckpoint(i)" *ngIf="shouldShowRemoveBtn()">
                    <mat-icon>remove_circle</mat-icon>
                  </button>

                  <button class="add-btn" mat-icon-button (click)="addCheckpoint()" *ngIf="shouldShowAddBtn(i)">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          Destination point:
        </div>
        <div class="col-2">
          <mat-form-field>
            <mat-select formControlName="to" [compareWith]="compareWarehouse" required>
              <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                <span>{{warehouse.name}}</span> |
                <small>{{warehouse | warehouseFullAddress}}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>

    <!--<div>{{wForm.value | json}}</div>-->

    <p-gmap [style]="{'width':'100%','height':'320px'}" (onMapReady)="setMap($event)" (mouseenter)="loadMap()"></p-gmap>
  </mat-card-content>
</div>

<mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close (click)="cancel()">CANCEL</button>
  <button mat-button color="primary" type="submit" form="wForm" [disabled]="!edit || !editAvailability">APPLY</button>
</mat-dialog-actions>
