<mat-dialog-content>


  <table class="template_letter">

    <tr>
      <td id="header_with_iamge"  appBackground [colour]="[headerColor]"  (click)="openColorsComponent()"  >
        <img [src]="fullImagePath"  (click)="changeImage($event)">
      </td>
    </tr>
    <tr id="text_congr">
      <mat-form-field>
          <textarea #myTextArea [(ngModel)]="text" matInput matTextareaAutosize matAutosizeMinRows="9"
                    placeholder="Поздравление" (click)="getCaretPos(myTextArea)" (keyup)="getCaretPos(myTextArea)">
          </textarea>
      </mat-form-field>
    </tr>
  </table>

  <div class="tags_buttons">
    <button mat-button (click)="insertName()" >Name</button>
    <button mat-button (click)="insertAge()">Age</button>
  </div>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close (click)="cancel()">CANCEL</button>
  <button mat-button color="primary" type="submit">SAVE</button>
</mat-dialog-actions>



