<div class="paginated-table">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
      <mat-cell *matCellDef="let waybill">{{waybill.from.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
      <mat-cell *matCellDef="let waybill">{{waybill.to.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="car_number">
      <mat-header-cell *matHeaderCellDef>Car number</mat-header-cell>
      <mat-cell *matCellDef="let waybill">{{waybill.car.number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="invoice_number">
      <mat-header-cell *matHeaderCellDef>Invoice number</mat-header-cell>
      <mat-cell *matCellDef="let waybill">{{waybill.invoiceNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issue_date">
      <mat-header-cell *matHeaderCellDef>Issue date</mat-header-cell>
      <mat-cell *matCellDef="let waybill">{{waybill.issueDate}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openWaybillDetail(row.invoiceId)"
             [ngClass]="{'mat-row--idle': !row.status, 'mat-row--started': row.status === waybillStatus.STARTED}">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator class="paginator"
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10, 20]"
                 (page)="loadWaybills($event)">
  </mat-paginator>
</div>
